@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
img{
    border-radius: 10px;
}
table{
    border:5px solid #a574a5;
}
body{
    background-color: rgb(170, 179, 130);
}
{
	font-family: 'DM Serif Display', serif;
	font-weight: 700;
	font-style: normal;
}
font{
    
}